.App {
  font-family: sans-serif;
  text-align: center;
}
.head {
  padding: 2.5rem;
  background-color: goldenrod;
}
button {
  border-radius: 0.3rem;
  padding: 10px;
  margin: 1vh 1vw 2vh 1vw;
}
.container {
  max-width: 700px;
  margin: 2rem auto;
  min-height: 50vh;
  border: 2px solid goldenrod;
}
.containerIn {
  padding-bottom: 3rem;
}
footer.container {
  background-color: goldenrod;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 80%;
  min-height: 0vh;
  border-radius: 1rem;
}

ul {
  padding-inline-start: 0px;
}

li {
  display: inline;
  padding: 1rem;
}
